.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background-color: #f7f7f7;
}

.login-form {
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  position: relative;
}

.login-title {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
}

.input-group {
  margin-bottom: 1rem;
}

.input-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.input-group input {
  width: 100%;
  padding: 0.6rem 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  outline: none;
  background-color: white;
}

.input-group input:focus {
  border-color: #007bff;
}

.checkbox-group {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  background-color: white;

}

.checkbox-group input {
  margin-right: 0.5rem;
  background-color: white;
}


.login-btn {
  width: 100%;
  padding: 0.7rem;
  background-color: #007bff;
  border: none;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background-color: #0056b3;
}

.extra-links {
  text-align: center;
  margin-top: 1rem;
}

.extra-links a {
  color: #007bff;
  text-decoration: none;
  margin: 0 0.3rem;
}

.extra-links a:hover {
  text-decoration: underline;
}

.otp-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 10px;
  background: #f9f9f9;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
  font-family: Arial, sans-serif;
}

.otp-form p {
  margin-bottom: 20px;
  color: #555;
}

.otp-inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.otp-box {
  width: 50px;
  height: 50px;
  font-size: 24px;
  text-align: center;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: border 0.2s;
}

.otp-box:focus {
  border-color: #4caf50;
  box-shadow: 0 0 5px rgba(76,175,80,0.5);
}

.otp-submit-btn {
  background-color: #4caf50;
  color: white;
  padding: 12px 25px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

.otp-submit-btn:hover {
  background-color: #45a049;
}
